{% load static %}

<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Database Comune</title>

		<!-- Styles -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet" />
		<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />

		<!-- Scripts -->
		<script src="{% static 'js/populateModal.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-table.min.js' %}"></script>

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet" />

		<!-- Icons -->
		<link rel="icon" href="{% static 'icons/road.png' %}" type="image/x-icon" />
	</head>

	<script>
		function enableTooltips() {
			$(document).ready(function () {
				$('[data-toggle="tooltip"]').tooltip();
			});
		}

		function Svuota() {
			$("#id_codice")[0].value = "";
			$("#id_provincia")[0].value = "";
			$("#id_nome")[0].value = "";
		}

		console.log("{{success}}");

		// alert
		$(function () {
			$(".page-alert").hide();
			$("#alertContainer").removeAttr("hidden");
			var alert = null;
			if ("{{success}}" == "1" || "{{success}}" == "2" || "{{success}}" == "3") {
				alert = $("#alert-" + 1); //id di successo
			} else if ("{{success}}" == "-1" || "{{success}}" == "-2" || "{{success}}" == "-3") {
				alert = $("#alert-" + 2); //id di insuccesso
			}

			switch ("{{success}}") {
				case "1": //inserimento
					$("#alert-1")[0].innerHTML = "<strong>Successo!</strong> Inserimento avvenuto correttamente.";
					break;
				case "-1":
					$("#alert-2")[0].innerHTML = "<strong>Errore!</strong> Inserimento non avvenuto!";
					break;
				case "2": //modifica
					$("#alert-1")[0].innerHTML = "<strong>Successo!</strong> Modifica avvenuta correttamente.";
					break;
				case "-2":
					$("#alert-2")[0].innerHTML = "<strong>Errore!</strong> Modifica non avvenuta!";
					break;
				case "3": //eliminazione
					$("#alert-1")[0].innerHTML = "<strong>Successo!</strong> Eliminazione avvenuta correttamente.";
					break;
				case "-3":
					$("#alert-2")[0].innerHTML = "<strong>Errore!</strong> Elminazione non avvenuta!";
					break;
				default:
					break;
			}

			if (alert != null) {
				var timeOut;

				alert.appendTo(".page-alerts");
				alert.slideDown();

				//Is autoclosing alert
				var delay = 3000;
				if (delay != undefined) {
					delay = parseInt(delay);
					clearTimeout(timeOut);
					timeOut = window.setTimeout(function () {
						alert.slideUp();
					}, delay);
				}
			}
		});
	</script>

	<body style="overflow: auto" onload="enableTooltips()">
		<div id="alertContainer" class="page-alerts" hidden style="margin-top: 56px">
			<div class="alert alert-success page-alert" id="alert-1"><strong>Successo!</strong> Placeholder</div>

			<div class="alert alert-danger page-alert" id="alert-2"><strong>Errore!</strong> Placeholder</div>
		</div>

		<!-- modale inserisci -->
		<div class="modal fade" id="insertDialog" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Inserisci Riga</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form method="post" action="">
							{% csrf_token %} {{ formInsertModal }}
							<div class="modal-footer">
								<button formaction="/app/api_aggiungi" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Inserisci</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- modale modifica -->
		<div class="modal fade" id="editDialog" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Modifica Riga</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<label for="fakeCodiceModal">Codice comune</label>
						<input id="fakeCodiceModal" class="form-control" disabled type="text" />

						<form method="post" action="">
							{% csrf_token %} {{ formModal }}
							<div class="modal-footer">
								<button formaction="/app/api_modifica" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modifica</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- modale elimina -->
		<div class="modal fade" id="deleteDialog" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Elimina Riga</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<label for="CodiceModalDelete">Codice comune</label>
						<input id="fakeCodiceModalDelete" class="form-control" disabled type="text" />

						<label for="fakeProvinciaModalDelete">Provincia</label>
						<input id="fakeProvinciaModalDelete" class="form-control" disabled type="text" />

						<label for="fakeNomeModalDelete">Nome comune</label>
						<input id="fakeNomeModalDelete" class="form-control" disabled type="text" />

						<form method="post" action="">
							{% csrf_token %} {{ formDeleteModal }}
							<div class="modal-footer">
								<button formaction="/app/api_elimina" type="submit" class="btn btn-danger" data-bs-dismiss="modal">Elimina</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" style="padding-top: 50px; padding-right: 80px; padding-bottom: 100px">
			<!-- Questo contiene tutti gli elementi della pagina -->
			<main class="row z-index-0">
				<!-- Primo div, esso contiene la colonna dei filtri e quella della tabella-->
				<div class="fixed-top" style="padding-top: 100px; padding-left: 80px; width: 400px">
					<!-- div filtri -->
					<h2>Filtri</h2>
					<form action="/app/comune" method="post">
						{% csrf_token %} {{ form }}
						<br />
						<button type="submit" class="btn btn-primary" data-toggle="tooltip" data-bs-placement="bottom" title="Cerca all'interno del database">Cerca</button>
						<button type="button" onclick="populateInsertModal()" class="btn btn-primary" data-bs-toggle="modal" data-toggle="tooltip" data-bs-placement="bottom" title="Inserisci una nuova riga nel database" data-bs-target="#insertDialog">Inserisci</button>
						<button type="button" onclick="Svuota()" id="btnSvuota" class="btn btn-light" data-toggle="tooltip" data-bs-placement="bottom" title="Svuota i filitri di ricerca">Svuota</button>
					</form>
				</div>

				<div class="col-4"></div>

				<div class="col-xs-6 col-sm-6 col-md-8 overflow-y-auto">
					<!-- div tabella-->
					<div class="table-responsive">
						{% if listaelementi %}
						<table data-toggle="table" class="table table-bordered table-hover align-middle" sort:true>
							<thead>
								<th class="sorting" scope="col" data-sortable="true">Codici</th>
								<th scope="col" data-sortable="true">Codici Province</th>
								<th scope="col" data-sortable="true">Nomi</th>
								<th scope="col" data-sortable="true">Numero Caselli</th>
								<th scope="col"></th>
							</thead>
							<tbody>
								{% for comune in listaelementi %}
								<tr class="rs-row">
									<td>{{comune.0}}</td>
									<td>{{comune.1}}</td>
									<td>{{comune.2}}</td>
									<td><a href="/app/casello?comune={{comune.0}}">{{comune.3}}</a></td>
									<td>
										<button type="button" onclick="populateRowModal('{{comune.0}}','{{comune.1}}','{{comune.2}}')" class="btn" data-bs-toggle="modal" data-toggle="tooltip" title="Modifica riga" data-bs-target="#editDialog"><img src="{% static 'icons/compose.png' %}" /></button>
										<button type="button" onclick="populateRowModal('{{comune.0}}','{{comune.1}}','{{comune.2}}')" class="btn" data-bs-toggle="modal" data-toggle="tooltip" title="Elimina riga" data-bs-target="#deleteDialog"><img src="{% static 'icons/bin.png' %}" /></button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

						{% else %}
						<p>tabella vuota</p>
						{% endif %}
					</div>
				</div>
			</main>

			{% include 'header.html' %}

			<div class="fixed-bottom">
				<!-- div footer-->
				{% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>
