{% load static %}

<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crediti</title>
  <!-- Style -->
  <link rel="stylesheet" href="{% static 'css/landingPage.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
  <!-- Icons -->
  <link rel="icon" href="{% static 'icons/road.png' %}" type="image/x-icon" />
</head>

<body>

  {% include 'header.html' %}

  {% include 'nav.html' %}

  <main class="main">
    <div>
      <p><a href="https://www.flaticon.com/free-icons/road" title="road icons">Road icons created by Vectors Market -
          Flaticon</a></p>
    </div>
  </main>

  {% include 'footer.html' %}

</body>

</html>
