<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="/app/index">DATABASE AUTOSTRADE</a>
          <div class="nav-mobile">
            <nav aria-label="Navigazione accessoria">
              <div class="link-list-wrapper collapse" id="menu1a">
                <ul class="link-list">
                  <li><a class="list-item" href="/app/comune">Comune</a></li>
                  <li><a class="list-item" href="/app/casello">Casello</a></li>
                  <li><a class="list-item" href="/app/autostrada">Autostrada</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
