{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Landing Page</title>
		<!-- Style -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet" />
		<!-- Icons -->
		<link rel="icon" href="{% static 'icons/road.png' %}" type="image/x-icon" />
	</head>

	<body id="body" class="">
		<nav class="navbar navbar-expand-lg bg-primary fixed-top">
			<div class="container-fluid">
				<div class="collapse navbar-collapse d-flex flex-row justify-content-center" id="navbarNav">
					<ul class="navbar-nav d-flex flex-row gap-3">
						<li class="nav-item"><a class="nav-link text-white" href="/app/comune">Comune</a></li>
						<li class="nav-item"><a class="nav-link text-white" href="/app/casello">Casello</a></li>
						<li class="nav-item"><a class="nav-link text-white" href="/app/autostrada">Autostrada</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<main class="container-fluid">
			<div class="">
				<div class="position-absolute top-50 start-50 translate-middle">
					<h1 class="display-1 text-primary text-center" style="font-family: 'Kode Mono'">DATABASE AUTOSTRADE</h1>
				</div>
			</div>
		</main>

		<div class="fixed-bottom">{% include 'footer.html' %}</div>
	</body>
</html>
