<!DOCTYPE html>
<html>
	<body>
		
		<form action="/app/test" method="post">
			{% csrf_token %}
			{% comment %} <label for="codice">Codice</label>
			<input type="text" id="codice"/>
			</br></br>
			<label for="provincia">Provincia</label>
			<input type="text" id="provincia"/>
			</br></br>
			<label for="nome">Nome</label>
			<input type="text" id="nome"/>
			{% endcomment %}
			
			{{ form }}

			</br></br>
			<input type="submit"/>
			<input type="reset"/> 
		</form>

		</br>

		{% if comuni %}
			<table>
			  <thead>
				<th>Codice</th>
				<th>Codice Provincia</th>
				<th>Nome</th>
			  </thead>
			  {% for comune in comuni %}
			  <tr>
				<td>{{comune.0}}</td>
				<td>{{comune.1}}</td>
				<td>{{comune.2}}</td>
			  </tr>
			  {% endfor %}
			</table>
			{% else %}
			<p>tabella vuota</p>
			{% endif %}
		  </div>
	</body>
</html>