{% load static %}

<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <!-- Style -->
  <link rel="stylesheet" href="{% static 'css/landingPage.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
  <!-- Icons -->
  <link rel="icon" href="{% static 'icons/road.png' %}" type="image/x-icon" />

</head>

<body>
  
  {% include 'header.html' %}
  
  {% include 'nav.html' %}
  
  <main id="row">
		<!-- Form Menu -->
		<form class="filterPanel roundedElement" action="" method="POST">
			<div id="filterPanelOptions">

				<h2>Ricerca</h2>

				<div class="filterOption">
					<label for="input-cod_naz">Codice Nazionale</label>
					<br />
					<input type="text" name="cod_naz" placeholder="codice nazionale" class="filterInput" id="input-cod_naz">
				</div>

				<div class="filterOption">
					<label for="input-cod_eu">Codice Europeo</label>
					<br />
					<input type="text" name="cod_eu" placeholder="codice europeo" class="filterInput" id="input-cod_eu"/>
				</div>

				<div class="filterOption">
					<label for="input-nome">Nome</label>
					<br />
					<input type="text" name="nome" placeholder="nome autostrada" class="filterInput" id="input-nome"/>
				</div>

				<div class="filterOption">
					<label for="input-lunghezza">Lunghezza</label>
					<br />
					<input type="number" name="lunghezza" placeholder="lunghezza autostrada" class="filterInput" id="input-lunghezza" />
				</div>


			</div>

			{% include 'searchButtons.html' %}

		</form>

		<div id="queryResult" class="roundedElement">
			Table Generation
		</div>
    
	</main>
  
  {% include 'footer.html' %}
  
</body>

</html>
